<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <div class="row">
    date: {{date}}
  </div>
  <div class="row">
    <mat-form-field appearance="fill" style="margin-left: 20px;">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" #date1>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin-left: 20px;">
      <mat-label>rover</mat-label>
      <mat-select [formControl]="rover">
        <mat-option value="curiosity">Curiosity</mat-option>
        <mat-option value="opportunity">Opportunity</mat-option>
        <mat-option value="spirit">Spirit</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="changeDate(date1.value)" style="margin-left: 10px;">
      search
    </button>
  </div>

  <div class="row">
    <button mat-raised-button color="primary" [disabled]="page === 1" (click)="changePage(-1)">
      previous
    </button>
    <button mat-raised-button color="primary" style="margin-left: 10px" (click)="changePage(1)">
      next
    </button>
  </div>

  <div class="row" *ngIf="!loading">
    <mat-card *ngFor="let photo of data" class="col-lg-4 col-md-6 col-sm-12">
      <img mat-card-image [src]="photo['img_src']" alt="image">
      <mat-card-header>
        <h3>{{photo['camera']['full_name']}}</h3>
      </mat-card-header>
      <mat-card-header>
        <h3>rover : {{photo['rover']['name']}}</h3>
      </mat-card-header>
      <mat-card-header>
        <h3>date : {{photo['earth_date']}}</h3>
      </mat-card-header>
    </mat-card>
  </div>

  <div class="row">
    <button mat-raised-button color="primary" [disabled]="page === 1" (click)="changePage(-1)">
      previous
    </button>
    <button mat-raised-button color="primary" style="margin-left: 10px" (click)="changePage(1)">
      next
    </button>
  </div>
</div>

