<mat-toolbar color="primary" mat-ripple>
  <button mat-icon-button (click)="home()" *ngIf="router.url !== '/'">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span>space discovery</span>
  <button mat-icon-button (click)="changeTheme()" style="margin-left: auto;">
    <mat-icon *ngIf="theme === false">
      brightness_7
    </mat-icon>
    <mat-icon *ngIf="theme === true">
      brightness_2
    </mat-icon>
  </button>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>

