<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<mat-card *ngIf="!loading">
  <mat-card-header>
    <h2>{{data['title']}}</h2>
  </mat-card-header>
  <mat-card-content>
    copyright: {{data['copyright']}}
  </mat-card-content>
  <img mat-card-image [src]="data['url']" alt="image">
  <mat-card-content>
    {{data['explanation']}}
  </mat-card-content>
  <mat-card-footer>
    <mat-form-field appearance="fill" style="margin-left: 20px;">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" #date>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" class="ml" (click)="setdate(date.value)">go</button>
    <a mat-raised-button color="accent" [href]="data['hdurl']" class="ml">hd picture</a>
  </mat-card-footer>
</mat-card>

