<div class="container">
  <div class="row d-flex mt-3" style="align-items: center; justify-content: center;">
    <h1>space discovery</h1>
  </div>
  <div class="row" style="display: flex; align-items: center; justify-content: center; text-align: center;">
    <p>
      here you can take a look at images from the space provided by nasa
    </p>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
      <mat-card class="w-100" (click)="apod()" mat-ripple>
        <mat-card-header style="cursor: pointer; display: flex; align-items: center;">
          <div>
            <mat-icon style="font-size: 3rem;">
              insert_photo
            </mat-icon>
          </div>
          <div style="margin-left: 3rem;">
            Astronomy picture of the day
          </div>
        </mat-card-header>
        <mat-card-content>
          look at the best picture of the day selected by nasa!
        </mat-card-content>
        <img mat-card-image src="/assets/image/stars.jpg" alt="stars">
      </mat-card>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
      <mat-card class="w-100" (click)="mars()" mat-ripple>
        <mat-card-header style="cursor: pointer; display: flex; align-items: center;">
          <div>
            <mat-icon style="font-size: 3rem;">
              explore
            </mat-icon>
          </div>
          <div style="margin-left: 3rem;">
            Mars rovers
          </div>
        </mat-card-header>
        <mat-card-content>
          look at the pictures from the nasa rovers on the mars!
        </mat-card-content>
        <img mat-card-image src="/assets/image/mars.jpg" alt="mars">
      </mat-card>
    </div>
  </div>
</div>
